<ul class="icons">
    {% if site.facebook %}
    <li><a href="https://facebook.com/{{ site.facebook }}" class="icon fa-facebook" target="_blank" ><span class="label">Facebook</span></a></li>
    {% endif %}

    {% if site.twitter %}
    <li><a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
    {% endif %}

    {% if site.instagram %}
    <li><a href="https://instagram.com/{{ site.instagram }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
    {% endif %}

    {% if site.linkedin %}
    <li><a href="https://linkedin.com/in/{{ site.linkedin }}" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
    {% endif %}

    {% if site.email %}
    <li><a href="mailto:{{ site.email }}" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
    {% endif %}
</ul>
